<div class='container'>
  <h1>Listing des medecins</h1>
  <ul>
    <% @workers.each do |worker| %>
      <div >
        <li style = 'display: inline-block;'><%= worker.first_name %>
        <%= link_to 'Mettre à jour', edit_worker_path(worker) %></li>
      </div>
    <% end %>
  </ul>
  <%= link_to 'revenir à l\'accueil', root_path %>
</div>

